<div class="logo">
  <img src="/assets/logo.svg" alt="Logo" />
</div>

<div class="options-section list-group elevated-z4">
  <a href="#" class="list-group-item"
     (click)="createNewProject($event)">
    Create new project
  </a>
  <a href="#" (click)="importProject($event)" class="list-group-item">Load project from file</a>
  <a href="#" class="list-group-item"
     *ngFor="let project of (allProjects$ | async)"
     (click)="proceedProject(project.id, $event)">
    Proceed with <strong>{{project.name}}</strong>
  </a>
</div>
